.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #1e1e1e; 
  color: #9cdcfe;
}

.hljs-attr {
  color: #9cdcfe;
}

.hljs-number {
  color: #b5cea8;
}

.hljs-tag,
.hljs-type,
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-strong,
.hljs-name {
  color: #569cd6;
}

.hljs-code {
  color: #66d9ef;
}

.hljs-class,
.hljs-title,
.hljs-built_in {
  color: #4ec9b0;
}

.hljs-meta,
.hljs-attribute,
.hljs-symbol,
.hljs-regexp,
.hljs-link,
.hljs-meta-keyword {
  color: #c586c0;
}

.hljs-string,
.hljs-bullet,
.hljs-subst,
.hljs-section,
.hljs-emphasis,
.hljs-builtin-name,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable,
.hljs-meta-string {
  color: #ce9178;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion {
  color: #608b4e;
}