[class*="hint--"] {
  position: relative;
  display: inline-block;
  &:before,
  &:after {
    position: absolute;
    transform: translate3d(0, 0, 0);
    visibility: hidden;
    opacity: 0;
    z-index: 1000000;
    pointer-events: none;
    transition: 0.3s ease;
    transition-delay: 0ms;
  }
  &:hover {
    &:before,
    &:after {
      visibility: visible;
      opacity: 1;
    }
    &:before,
    &:after {
      transition-delay: 100ms;
    }
  }
  &:before {
    content: '';
    position: absolute;
    background: transparent;
    border: 6px solid transparent;
    z-index: 1000001;
  }
  &:after {
    background: #383838;
    color: white;
    padding: 8px 10px;
    font-size: 12px;
    line-height: 12px;
    white-space: nowrap;
  }
  &[aria-label]:after {
    content: attr(aria-label);
  }
  &[data-hint]:after {
    content: attr(data-hint);
  }
}

[aria-label=''] {
  &:before,
  &:after {
    display: none !important;
  }
}

[data-hint=''] {
  &:before,
  &:after {
    display: none !important;
  }
}


/**
 * source: hint-position.scss
 *
 * Defines the positoning logic for the tooltips.
 *
 * Classes added:
 * 	1) hint--top
 * 	2) hint--bottom
 * 	3) hint--left
 * 	4) hint--right
 */


/**
 * set default color for tooltip arrows
 */

.hint--top-left:before,
.hint--top-right:before,
.hint--top:before {
  border-top-color: #383838;
}

.hint--bottom-left:before,
.hint--bottom-right:before,
.hint--bottom:before {
  border-bottom-color: #383838;
}

.hint--left:before {
  border-left-color: #383838;
}

.hint--right:before {
  border-right-color: #383838;
}


/**
 * top tooltip
 */

.hint--top {
  &:before {
    margin-bottom: -11px;
    bottom: 100%;
    left: 50%;
  }
  &:after {
    bottom: 100%;
    left: 50%;
  }
  &:before {
    left: calc(50% - 6px);
  }
  &:after {
    transform: translateX(-50%);
  }
  &:hover {
    &:before {
      transform: translateY(-8px);
    }
    &:after {
      transform: translateX(-50%) translateY(-8px);
    }
  }
}


/**
 * bottom tooltip
 */

.hint--bottom {
  &:before {
    margin-top: -11px;
    top: 100%;
    left: 50%;
  }
  &:after {
    top: 100%;
    left: 50%;
  }
  &:before {
    left: calc(50% - 6px);
  }
  &:after {
    transform: translateX(-50%);
  }
  &:hover {
    &:before {
      transform: translateY(8px);
    }
    &:after {
      transform: translateX(-50%) translateY(8px);
    }
  }
}


/**
 * right tooltip
 */

.hint--right {
  &:before {
    margin-left: -11px;
    margin-bottom: -6px;
  }
  &:after {
    margin-bottom: -14px;
  }
  &:before,
  &:after {
    left: 100%;
    bottom: 50%;
  }
  &:hover {
    &:before,
    &:after {
      transform: translateX(8px);
    }
  }
}


/**
 * left tooltip
 */

.hint--left {
  &:before {
    margin-right: -11px;
    margin-bottom: -6px;
  }
  &:after {
    margin-bottom: -14px;
  }
  &:before,
  &:after {
    right: 100%;
    bottom: 50%;
  }
  &:hover {
    &:before,
    &:after {
      transform: translateX(-8px);
    }
  }
}


/**
 * top-left tooltip
 */

.hint--top-left {
  &:before {
    margin-bottom: -11px;
    bottom: 100%;
    left: 50%;
  }
  &:after {
    bottom: 100%;
    left: 50%;
  }
  &:before {
    left: calc(50% - 6px);
  }
  &:after {
    transform: translateX(-100%);
    margin-left: 12px;
  }
  &:hover {
    &:before {
      transform: translateY(-8px);
    }
    &:after {
      transform: translateX(-100%) translateY(-8px);
    }
  }
}


/**
 * top-right tooltip
 */

.hint--top-right {
  &:before {
    margin-bottom: -11px;
    bottom: 100%;
    left: 50%;
  }
  &:after {
    bottom: 100%;
    left: 50%;
  }
  &:before {
    left: calc(50% - 6px);
  }
  &:after {
    transform: translateX(0);
    margin-left: -12px;
  }
  &:hover {
    &:before,
    &:after {
      transform: translateY(-8px);
    }
  }
}


/**
 * bottom-left tooltip
 */

.hint--bottom-left {
  &:before {
    margin-top: -11px;
    top: 100%;
    left: 50%;
  }
  &:after {
    top: 100%;
    left: 50%;
  }
  &:before {
    left: calc(50% - 6px);
  }
  &:after {
    transform: translateX(-100%);
    margin-left: 12px;
  }
  &:hover {
    &:before {
      transform: translateY(8px);
    }
    &:after {
      transform: translateX(-100%) translateY(8px);
    }
  }
}


/**
 * bottom-right tooltip
 */

.hint--bottom-right {
  &:before {
    margin-top: -11px;
    top: 100%;
    left: 50%;
  }
  &:after {
    top: 100%;
    left: 50%;
  }
  &:before {
    left: calc(50% - 6px);
  }
  &:after {
    transform: translateX(0);
    margin-left: -12px;
  }
  &:hover {
    &:before,
    &:after {
      transform: translateY(8px);
    }
  }
}


/**
 * source: hint-sizes.scss
 *
 * Defines width restricted tooltips that can span
 * across multiple lines.
 *
 * Classes added:
 * 	1) hint--small
 * 	2) hint--medium
 * 	3) hint--large
 *
 */

.hint--small:after,
.hint--medium:after,
.hint--large:after {
  white-space: normal;
  line-height: 1.4em;
  word-wrap: break-word;
}

.hint--small:after {
  width: 80px;
}

.hint--medium:after {
  width: 150px;
}

.hint--large:after {
  width: 300px;
}


/**
 * source: hint-always.scss
 *
 * Defines a persisted tooltip which shows always.
 *
 * Classes added:
 * 	1) hint--always
 *
 */

.hint--always {
  &:after,
  &:before {
    opacity: 1;
    visibility: visible;
  }
  &.hint--top {
    &:before {
      transform: translateY(-8px);
    }
    &:after {
      transform: translateX(-50%) translateY(-8px);
    }
  }
  &.hint--top-left {
    &:before {
      transform: translateY(-8px);
    }
    &:after {
      transform: translateX(-100%) translateY(-8px);
    }
  }
  &.hint--top-right {
    &:before,
    &:after {
      transform: translateY(-8px);
    }
  }
  &.hint--bottom {
    &:before {
      transform: translateY(8px);
    }
    &:after {
      transform: translateX(-50%) translateY(8px);
    }
  }
  &.hint--bottom-left {
    &:before {
      transform: translateY(8px);
    }
    &:after {
      transform: translateX(-100%) translateY(8px);
    }
  }
  &.hint--bottom-right {
    &:before,
    &:after {
      transform: translateY(8px);
    }
  }
  &.hint--left {
    &:before,
    &:after {
      transform: translateX(-8px);
    }
  }
  &.hint--right {
    &:before,
    &:after {
      transform: translateX(8px);
    }
  }
}